.operating {
    &__title {

        margin: 50px 20px;
    }

    &__order {
        &__num {

            display: flex;
            align-items: center;
            background: $color-fond-presentation;
            height: 70px;
            margin: 20px 30px;
            border-radius: 20px;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.164);

            @for $i from 1 through 3 {
                &:nth-child(#{$i}):before {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    content: "#{$i}";
                    font-size: 16px;
                    left: 20px;
                    width: 25px;
                    height: 25px;
                    color: white;
                    background: $color-btn-primary;
                    border-radius: 16px;
                }
            }

            & i {
                width: 20px;
                margin-left: 40px;
                margin-right: 20px;

            }
            & span{
                font-weight: bold;
            }

            &:nth-child(3) {
                i {

                    color: $color-btn-primary;
                }

                background: lighten($color-btn-primary,35%);
            }

        }
    }

}