 @mixin button($width) {
     display: flex;
     justify-content: center;
     align-items: center;
     width: $width;
     height: 50px;
     margin-bottom: 56px;
     padding: 10px 20px;
     border-radius: 30px;
     border: none;
     color: white;
     box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
     background: linear-gradient(175deg, $color-btn-secondary 0%, $color-btn-primary 100%);

     &:hover {

         box-shadow: 5px 5px 10px rgb(0 0 0 / 60%), inset -1px -1px 2px $color-btn-primary;
         background: linear-gradient(175deg, lighten($color-btn-secondary, 4%) 0%, lighten($color-btn-primary, 1%) 100%);

     }
 }