@mixin heart($font-taille: 25px, $empty, $full, $curtain, $bottom, $right) {
    position: relative;

    &__heart {
        position: absolute;
        width: $font-taille;
        height: $font-taille;
        bottom: $bottom;
        right: $right;

        //apparition du coeur sur hover en mode desktop
        @media (pointer: fine) {
            &:hover {
                & .ridea {
                    transform: scaleY(0);
                    transition-duration: 500ms;
                    transition-timing-function: cubic-bezier(0.32, 1.51, 0.99, -0.54);
                }

                & .full {
                    animation: 200ms magnification 500ms;
                }

                & .empty {
                    color: $empty;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        // apparition du check en mode mobile et desktop sur checked
        & input:checked {
            &+label {
                & .ridea {
                    transform: scaleY(0);
                    transition-duration: 500ms;
                    transition-timing-function: cubic-bezier(0.32, 1.51, 0.99, -0.54);
                }

                & .full {
                    animation: 200ms magnification 500ms;
                }

                & .empty {
                    color: $empty;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        //positionnement des élément qui constituent le coeur
        &__check {
            display: block;
            position: absolute;
            display: none;
            bottom: $font-taille;
            right: $font-taille;
        }

        i {
            font-size: $font-taille;
            position: absolute;
            top: $font-taille;
            left: $font-taille;
        }

        .ridea {
            position: absolute;
            width: $font-taille * 2;
            height: $font-taille * 2;
            transform-origin: top;
            background: $curtain;

        }
    }

    //effet battement de coeur
    @keyframes magnification {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.2);
        }

        100% {
            transform: scale(1);
        }
    }
}