.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    flex-direction: column;


    &__title {
        display: block;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 100;
        position: relative;
        margin-top: 50px;
        margin-left: 20px;
        margin-bottom: 11px;

        // soulignage vert
        &:after {
            content: "";
            position: absolute;
            width: 40px;
            height: 2px;
            bottom: -8px;
            left: 0;
            border-bottom: 3px solid $color-fond-flag;
        }
    }

    &__container {
        display: flex;
        background: white;
        margin: 10px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 1px 1px 10px rgb(0 0 0 / 16%);
        z-index: 10;

        //appel le style de la checkbox dans '_selection-effect.scss'
        @include check;

        
        min-width: 200px;//fixe la largeur minimum des éléménts du menu pour la lisibilité 

        &__element {
            display: flex;
            flex-direction: column;
            min-width: 0;
            flex-grow: 1;
            padding: 10px;

            &__title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: bold;
                font-size: 19px;
                height: 100%;
                cursor: pointer;
                padding-bottom: 8px;
            }

            &__description {
                font-weight: 100;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 100%;
                cursor: pointer;
            }
        }

        &__price {
            display: flex;
            height: auto;
            padding: 10px 25px;
            align-items: flex-end;
            cursor: pointer;
            font-weight: 500;
        }

    
    }
}