 @media screen and (min-width : 800px) {
     body {



         main {
             display: grid;
             justify-content: center;
             grid-template-columns: 400px 400px;
             grid-template-areas:
                 "_illustrate _illustrate"
                 "_order _dish"
                 "_dessert _dessert"
                 "_button _button"

         }

         .illustrate {
             grid-area: _illustrate;
         }

         .menu:nth-child(1) {
             grid-area: _dessert;
         }

         .menu:nth-child(2) {
             grid-area: _order;
         }

         .menu:nth-child(3) {
             grid-area: _dish;
         }

     .order {
         grid-area: _button;
     }

     & .footer {
         position: fixed;
         width: 100%;
         bottom: 0;
         z-index: 10;


         &__container {
             flex-direction: row;
             justify-content: space-around;
             align-items: baseline;
             margin-right: 40px;
             padding: 10px;
         }
     }
 }
 }


 @media screen and (min-width : 1200px) {
     body {



         main {
             display: grid;
             justify-content: center;
             grid-template-columns: 400px 400px 400px;
             grid-template-areas:
                 "_illustrate _illustrate _illustrate"
                 "_order _dish _dessert"
                 "_button _button _button"

         }

     }
 }