@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700;900&display=swap');
//Taille police html->rem
$html-font-size:16px;

//Principal
$color-btn-primary:#9356DC;
$color-btn-secondary:#ff79DA;
$color-fond-flag:#99E2D0;

//text nouveau
$color-text-flag:#5CBEA6;

$color-fond-presentation:#F6F6F6;
$color-fond-search:#EAEAEA;
$color-fond-footer:#353535;